@{
    ViewData["Title"] = "Giriş";
}
    <form class="w3-container" action="/giris/giris">

        <label class="w3-text-blue"><b>Kullanici Adi</b></label>
        <input class="w3-input w3-border" name="kullaniciadi" type="text" id="kullaniciad" />
        <label class="w3-text-blue"><b>Şifre</b></label>
        <input class="w3-input w3-border" name="sifre"  type="password" id="sifre" />
        <input class="w3-btn w3-blue" style="margin-top:10px" type="submit" value="Gönder" />

    </form>